.profileContainer {
	display: flex;
	max-width: 600px;
	margin: 0 auto;
	gap: 110px;
	.profilePersonalSection {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 25px;
	}
	.profileHeading {
		color: rgba(255, 255, 255, 1);

		font-family: Roboto;
		font-size: 21px;
		font-weight: 400;
		line-height: 21px;
		letter-spacing: 0%;
		text-align: left;
	}
	.profilePersonal {
		border: none;
		border-bottom: 1px solid rgba(63, 63, 63, 1);
		color: rgba(255, 255, 255, 1);

		font-family: Roboto;
		font-size: 14px;
		font-weight: 400;
		line-height: 16px;
		letter-spacing: 0%;
		text-align: left;
		/* Line 6 */
		width: 340px;

		&:focus {
			border-bottom: 1px solid rgba(16, 126, 255, 1);
		}
	}

	.profileBtn {
		border-radius: 5px;
		background-color: rgba(49, 55, 201, 1);
		color: rgba(255, 255, 255, 1);

		font-family: Roboto;
		font-size: 12px;
		font-weight: 400;
		line-height: 14px;
		letter-spacing: 0%;
		text-align: left;
		padding: 8px 15px;
	}
	.avatar {
		/* avatar */
		width: 150px;
		height: 150px;
	}
}
