.sideBar {
	position: sticky;
	top: 0;
	align-self: flex-start;
	box-shadow: 5px 0px 15px 0px rgba(5, 5, 5, 0.1);
	background: rgba(32, 32, 32, 1);
	width: 300px;
	min-height: 100vh;
}

a {
	text-decoration: none;
}

.bg {
	padding-bottom: 69px;
}
.container {
	position: relative;
}
.sideBarContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
	.sideBarAboutMe {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		position: relative;
		.avatar {
			position: absolute;
			box-sizing: border-box;
			border: 2px solid rgba(255, 255, 255, 1);
			box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.25);
			background: rgba(255, 255, 255, 1);
			width: 100px;
			height: 100px;
			border-radius: 50px;
			right: 100px;
			top: -130px;
		}

		.name {
			color: rgba(255, 255, 255, 1);

			font-family: Roboto;
			font-size: 18px;
			font-weight: 400;
			line-height: 21px;
			letter-spacing: 0%;
			padding-bottom: 3px;
		}
		.jobInfo {
			color: rgba(222, 222, 222, 1);

			font-family: Roboto;
			font-size: 14px;
			font-weight: 300;
			line-height: 16px;
			letter-spacing: 0%;
			text-align: center;
			padding-bottom: 18px;
		}

		.socialNetWork {
			display: flex;
			gap: 15px;
			padding-bottom: 30px;

			ul {
				display: flex;
				gap: 15px;
				margin: 0;
				padding: 0;
			}

			ul li {
				list-style: none;
			}

			ul li a {
				width: 45px;
				height: 45px;
				background-color: #fff;
				text-align: center;
				line-height: 45px;
				font-size: 20px;
				display: block;
				border-radius: 50%;
				position: relative;
				overflow: hidden;
				border: 2px solid #fff;
				z-index: 1;
				text-decoration: none;
				color: #262626;
				transition: all 0.3s ease;
			}

			ul li a .icon {
				position: relative;
				transition: 0.5s;
				z-index: 3;
			}

			ul li a:hover {
				color: #fff;
				border-color: transparent;
			}

			ul li a:hover .icon {
				transform: rotateY(360deg);
				color: #fff;
			}

			// Facebook - плавная заливка
			ul li:nth-child(1) a:before {
				content: '';
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				height: 100%;
				background: #3b5999;
				transition: all 0.3s ease;
				z-index: -2;
			}

			ul li:nth-child(1) a:hover:before {
				top: 0;
			}

			// Twitter - плавная заливка
			ul li:nth-child(2) a:before {
				content: '';
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				height: 100%;
				background: #55acee;
				transition: all 0.3s ease;
				z-index: -2;
			}

			ul li:nth-child(2) a:hover:before {
				top: 0;
			}

			// Instagram - градиентная заливка
			ul li:nth-child(3) a:before {
				content: '';
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(
					45deg,
					#f09433 0%,
					#e6683c 25%,
					#dc2743 50%,
					#cc2366 75%,
					#bc1888 100%
				);
				transition: all 0.3s ease;
				z-index: -2;
			}

			ul li:nth-child(3) a:hover:before {
				top: 0;
			}
		}
		.sideBarLine {
			border: 1px solid rgba(28, 28, 28, 1);
			width: 260px;
			height: 0;
			margin-bottom: 30px;
		}

		.sideBarAbout {
			color: rgba(255, 255, 255, 1);
			padding: 0px 20px;
			font-family: Roboto;
			font-size: 12px;
			font-weight: 400;
			line-height: 18px;
			letter-spacing: 0%;
			text-align: center;
			margin-bottom: 30px;
		}

		.sideBarBtn {
			display: flex;
			gap: 20px;
			.btnWorks {
				color: rgba(255, 255, 255, 1);
				font-family: Roboto;
				font-size: 12px;
				font-weight: 500;
				line-height: 14px;
				padding: 13px 25px;
				letter-spacing: 0%;
				text-align: center;
				border-radius: 25px;
				background-color: rgba(237, 48, 36, 1);
			}
			.btnWorks:hover {
				animation: pulse 1.5s infinite;
			}

			.btnMessage {
				color: rgba(255, 255, 255, 1);

				font-family: Roboto;
				font-size: 12px;
				font-weight: 500;
				line-height: 14px;
				padding: 13px 25px;
				letter-spacing: 0%;
				text-align: center;
				border-radius: 25px;
				background-color: rgba(49, 55, 201, 1);
			}

			.btnMessage:hover {
				animation: pulse 1.5s infinite;
			}
			@keyframes pulse {
				0% {
					transform: scale(1);
				}
				50% {
					transform: scale(1.1);
				}
				100% {
					transform: scale(1);
				}
			}
		}
	}
}
