.header {
	position: sticky;
	top: 0;
	z-index: 10;
	.headerContainer {
		box-shadow: 0px 5px 22px 0px rgba(0, 0, 0, 0.25);
		background: rgba(13, 13, 13, 1);

		.headerNav {
			display: flex;
			width: 100%;
			justify-content: space-between;
			align-items: center;

			.headerBtn {
				color: rgba(255, 255, 255, 1);
				font-family: Roboto;
				font-size: 11px;
				font-weight: 400;
				line-height: 13px;
				letter-spacing: 0%;
				text-align: left;
				text-transform: uppercase;
				background: none;
				border: none;
				cursor: pointer;
				padding: 15px 10px; 
				transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;

				
				position: relative;
				overflow: hidden;

				&::before,
				&::after {
					content: '';
					position: absolute;
					left: 0;
					width: 100%;
					height: 1px;
					background: linear-gradient(to right, #ff0000, #00ffff);
					transform: scaleX(0);
					transition: transform 0.3s ease-in-out;
				}

				// Верхняя полоска
				&::before {
					top: 0;
					transform-origin: top left;
				}

				// Нижняя полоска
				&::after {
					bottom: 0;
					transform-origin: bottom right;
					transition-delay: 0.2s;
				}

				&:hover {
					color: #fff;
					

					&::before,
					&::after {
						transform: scaleX(1);
					}

					&::after {
						transition-delay: 0.2s;
					}
				}
			}

			.headerNavLeft {
				display: flex;
				gap: 20px;
			}

			.headerNavRight {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				gap: 20px;

				.headerInput {
					box-shadow: -7px 1px 10px 0px rgba(0, 0, 0, 0.3);
					background: rgba(32, 32, 32, 1);
					padding: 14px 20px 12px 20px;
					margin: 0px;
					color: white;
					border: none;
					outline: none;

					&::placeholder {
						color: rgba(255, 255, 255, 0.4);
						font-family: Roboto;
						font-size: 12px;
						font-weight: 400;
						line-height: 14px;
						letter-spacing: 0%;
					}
				}
			}
		}
	}
}
